In the first requiement the number each unit produced and transported must be entered manually. It is very time consuming to enter those values for very many cycles, instead the values are generated randomly using the `random()` function. The program generates the values aand simulates the inventory. The output is extracted and used for modeling.

In [25]:
import re

class Unit:
    def __init__(self, unit_id, unit_type):
        self.unit_id = unit_id
        self.unit_type = unit_type
        self.inventory = {}  # Dictionary to track inventory by source
        self.downstream = None
        self.upstreams = []

    def manufacture(self, units_produced):
        """Manufacture a specified number of units and add to inventory."""
        if self.unit_id not in self.inventory:
            self.inventory[self.unit_id] = 0
        self.inventory[self.unit_id] += units_produced

    def transport(self, units_transported):
        """Transport a specified number of units downstream, maintaining source ratios."""
        total_inventory = sum(self.inventory.values())
        if total_inventory >= units_transported:
            # Calculate the transport ratio
            transport_ratio = units_transported / total_inventory
            transported = {}
            for source, amount in self.inventory.items():
                transported_amount = amount * transport_ratio
                transported[source] = transported_amount
                self.inventory[source] -= transported_amount

            # Send transported products to downstream
            if self.downstream:
                for source, amount in transported.items():
                    if source not in self.downstream.inventory:
                        self.downstream.inventory[source] = 0
                    self.downstream.inventory[source] += amount

    def report_inventory(self):
        """Report the total inventory and its sources."""
        total = sum(self.inventory.values())
        print(f"Unit {self.unit_id} (Type {self.unit_type}) Inventory:")
        print(f"Total: {total:.2f}")
        for source, amount in self.inventory.items():
            print(f"  From Unit {source}: {amount:.2f}")

    def set_downstream(self, downstream_unit):
        self.downstream = downstream_unit

    def add_upstream(self, upstream_unit):
        self.upstreams.append(upstream_unit)

def simulate_production_process(units, cycles, production_values, transportation_values):
    x_values = []  # To store X values after manufacturing
    y_values = []  # To store Y values after transportation

    for cycle in range(cycles):
        print(f"\n--- Cycle {cycle + 1} ---")
        # Manufacturing phase
        for i, unit in enumerate(units):
            unit.manufacture(production_values[cycle][i])
        print("After Manufacturing:")
        for unit in units:
            unit.report_inventory()

        # Store X values after manufacturing
        x_values.append({unit.unit_id: sum(unit.inventory.values()) for unit in units})

        # Transportation phase
        for i, unit in enumerate(reversed(units)):  # Start from downstream units
            unit.transport(transportation_values[cycle][len(units) - 1 - i])
        print("\nAfter Transportation:")
        for unit in units:
            unit.report_inventory()

        # Store Y values after transportation
        y_values.append([sum(unit.inventory.values()) for unit in units])  # Store as a list

    return x_values, y_values

# Example usage
unitA = Unit("A", "C1")
unitB = Unit("B", "C2")
unitC = Unit("C", "C3")
unitD = Unit("D", "C3")

unitA.set_downstream(unitC)
unitB.set_downstream(unitC)
unitC.add_upstream(unitB)
unitC.add_upstream(unitB)
unitD.add_upstream(unitC)

units = [unitA, unitB, unitC, unitD]

import random
random.seed(22)
# Define the number of cycles
num_cycles = 72

# Generate random production values for each cycle
# Assuming production values are between 1 and 10 for each unit
production_values = [[random.randint(1, 10) for _ in range(4)] for _ in range(num_cycles)]

# Generate random transportation values for each cycle
# Assuming transportation values are between 1 and 5 for each unit
transportation_values = [[random.randint(1, 5) for _ in range(4)] for _ in range(num_cycles)]


# Run the simulation and capture X and Y values

# Extract numerical values from x_values

In [23]:
x_values, y_values = simulate_production_process(units,72, production_values, transportation_values)

--- Cycle 1 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 3.00
  From Unit A: 3.00
Unit B (Type C2) Inventory:
Total: 4.00
  From Unit B: 4.00
Unit C (Type C3) Inventory:
Total: 1.00
  From Unit C: 1.00
Unit D (Type C3) Inventory:
Total: 10.00
  From Unit D: 10.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 1.00
  From Unit A: 1.00
Unit B (Type C2) Inventory:
Total: 2.00
  From Unit B: 2.00
Unit C (Type C3) Inventory:
Total: 5.00
  From Unit C: 1.00
  From Unit B: 2.00
  From Unit A: 2.00
Unit D (Type C3) Inventory:
Total: 7.00
  From Unit D: 7.00

--- Cycle 2 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 9.00
  From Unit A: 9.00
Unit B (Type C2) Inventory:
Total: 5.00
  From Unit B: 5.00
Unit C (Type C3) Inventory:
Total: 7.00
  From Unit C: 3.00
  From Unit B: 2.00
  From Unit A: 2.00
Unit D (Type C3) Inventory:
Total: 13.00
  From Unit D: 13.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 5.00
  From Unit A: 5.00
Unit B (Type C2) Inventory:
Total: 1.00
  From Unit B: 1.00
Unit C (Type C3) Inventory:
Total: 12.00
  From Unit C: 1.71
  From Unit B: 5.14
  From Unit A: 5.14
Unit D (Type C3) Inventory:
Total: 11.00
  From Unit D: 11.00

--- Cycle 3 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 7.00
  From Unit A: 7.00
Unit B (Type C2) Inventory:
Total: 5.00
  From Unit B: 5.00
Unit C (Type C3) Inventory:
Total: 17.00
  From Unit C: 6.71
  From Unit B: 5.14
  From Unit A: 5.14
Unit D (Type C3) Inventory:
Total: 12.00
  From Unit D: 12.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 3.00
  From Unit A: 3.00
Unit B (Type C2) Inventory:
Total: 2.00
  From Unit B: 2.00
Unit C (Type C3) Inventory:
Total: 22.00
  From Unit C: 5.92
  From Unit B: 7.54
  From Unit A: 8.54
Unit D (Type C3) Inventory:
Total: 7.00
  From Unit D: 7.00

--- Cycle 4 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 9.00
  From Unit A: 9.00
Unit B (Type C2) Inventory:
Total: 12.00
  From Unit B: 12.00
Unit C (Type C3) Inventory:
Total: 25.00
  From Unit C: 8.92
  From Unit B: 7.54
  From Unit A: 8.54
Unit D (Type C3) Inventory:
Total: 16.00
  From Unit D: 16.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 7.00
  From Unit A: 7.00
Unit B (Type C2) Inventory:
Total: 7.00
  From Unit B: 7.00
Unit C (Type C3) Inventory:
Total: 29.00
  From Unit C: 7.85
  From Unit B: 11.63
  From Unit A: 9.51
Unit D (Type C3) Inventory:
Total: 15.00
  From Unit D: 15.00

--- Cycle 5 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 14.00
  From Unit A: 14.00
Unit B (Type C2) Inventory:
Total: 8.00
  From Unit B: 8.00
Unit C (Type C3) Inventory:
Total: 39.00
  From Unit C: 17.85
  From Unit B: 11.63
  From Unit A: 9.51
Unit D (Type C3) Inventory:
Total: 16.00
  From Unit D: 16.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 10.00
  From Unit A: 10.00
Unit B (Type C2) Inventory:
Total: 5.00
  From Unit B: 5.00
Unit C (Type C3) Inventory:
Total: 41.00
  From Unit C: 15.56
  From Unit B: 13.14
  From Unit A: 12.29
Unit D (Type C3) Inventory:
Total: 11.00
  From Unit D: 11.00

--- Cycle 6 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 20.00
  From Unit A: 20.00
Unit B (Type C2) Inventory:
Total: 10.00
  From Unit B: 10.00
Unit C (Type C3) Inventory:
Total: 46.00
  From Unit C: 20.56
  From Unit B: 13.14
  From Unit A: 12.29
Unit D (Type C3) Inventory:
Total: 18.00
  From Unit D: 18.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 18.00
  From Unit A: 18.00
Unit B (Type C2) Inventory:
Total: 9.00
  From Unit B: 9.00
Unit C (Type C3) Inventory:
Total: 47.00
  From Unit C: 19.67
  From Unit B: 13.57
  From Unit A: 13.76
Unit D (Type C3) Inventory:
Total: 16.00
  From Unit D: 16.00

--- Cycle 7 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 22.00
  From Unit A: 22.00
Unit B (Type C2) Inventory:
Total: 12.00
  From Unit B: 12.00
Unit C (Type C3) Inventory:
Total: 49.00
  From Unit C: 21.67
  From Unit B: 13.57
  From Unit A: 13.76
Unit D (Type C3) Inventory:
Total: 26.00
  From Unit D: 26.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 19.00
  From Unit A: 19.00
Unit B (Type C2) Inventory:
Total: 7.00
  From Unit B: 7.00
Unit C (Type C3) Inventory:
Total: 55.00
  From Unit C: 20.79
  From Unit B: 18.02
  From Unit A: 16.20
Unit D (Type C3) Inventory:
Total: 22.00
  From Unit D: 22.00

--- Cycle 8 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 28.00
  From Unit A: 28.00
Unit B (Type C2) Inventory:
Total: 17.00
  From Unit B: 17.00
Unit C (Type C3) Inventory:
Total: 56.00
  From Unit C: 21.79
  From Unit B: 18.02
  From Unit A: 16.20
Unit D (Type C3) Inventory:
Total: 28.00
  From Unit D: 28.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 27.00
  From Unit A: 27.00
Unit B (Type C2) Inventory:
Total: 14.00
  From Unit B: 14.00
Unit C (Type C3) Inventory:
Total: 58.00
  From Unit C: 21.01
  From Unit B: 20.37
  From Unit A: 16.62
Unit D (Type C3) Inventory:
Total: 26.00
  From Unit D: 26.00

--- Cycle 9 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 37.00
  From Unit A: 37.00
Unit B (Type C2) Inventory:
Total: 20.00
  From Unit B: 20.00
Unit C (Type C3) Inventory:
Total: 63.00
  From Unit C: 26.01
  From Unit B: 20.37
  From Unit A: 16.62
Unit D (Type C3) Inventory:
Total: 29.00
  From Unit D: 29.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 36.00
  From Unit A: 36.00
Unit B (Type C2) Inventory:
Total: 15.00
  From Unit B: 15.00
Unit C (Type C3) Inventory:
Total: 65.00
  From Unit C: 24.36
  From Unit B: 24.08
  From Unit A: 16.56
Unit D (Type C3) Inventory:
Total: 26.00
  From Unit D: 26.00

--- Cycle 10 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 43.00
  From Unit A: 43.00
Unit B (Type C2) Inventory:
Total: 20.00
  From Unit B: 20.00
Unit C (Type C3) Inventory:
Total: 74.00
  From Unit C: 33.36
  From Unit B: 24.08
  From Unit A: 16.56
Unit D (Type C3) Inventory:
Total: 29.00
  From Unit D: 29.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 41.00
  From Unit A: 41.00
Unit B (Type C2) Inventory:
Total: 15.00
  From Unit B: 15.00
Unit C (Type C3) Inventory:
Total: 77.00
  From Unit C: 31.55
  From Unit B: 27.78
  From Unit A: 17.67
Unit D (Type C3) Inventory:
Total: 28.00
  From Unit D: 28.00

--- Cycle 11 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 46.00
  From Unit A: 46.00
Unit B (Type C2) Inventory:
Total: 20.00
  From Unit B: 20.00
Unit C (Type C3) Inventory:
Total: 80.00
  From Unit C: 34.55
  From Unit B: 27.78
  From Unit A: 17.67
Unit D (Type C3) Inventory:
Total: 35.00
  From Unit D: 35.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 43.00
  From Unit A: 43.00
Unit B (Type C2) Inventory:
Total: 18.00
  From Unit B: 18.00
Unit C (Type C3) Inventory:
Total: 81.00
  From Unit C: 32.83
  From Unit B: 28.39
  From Unit A: 19.79
Unit D (Type C3) Inventory:
Total: 33.00
  From Unit D: 33.00

--- Cycle 12 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 44.00
  From Unit A: 44.00
Unit B (Type C2) Inventory:
Total: 24.00
  From Unit B: 24.00
Unit C (Type C3) Inventory:
Total: 90.00
  From Unit C: 41.83
  From Unit B: 28.39
  From Unit A: 19.79
Unit D (Type C3) Inventory:
Total: 34.00
  From Unit D: 34.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 39.00
  From Unit A: 39.00
Unit B (Type C2) Inventory:
Total: 20.00
  From Unit B: 20.00
Unit C (Type C3) Inventory:
Total: 95.00
  From Unit C: 39.97
  From Unit B: 31.13
  From Unit A: 23.91
Unit D (Type C3) Inventory:
Total: 29.00
  From Unit D: 29.00

--- Cycle 13 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 46.00
  From Unit A: 46.00
Unit B (Type C2) Inventory:
Total: 25.00
  From Unit B: 25.00
Unit C (Type C3) Inventory:
Total: 104.00
  From Unit C: 48.97
  From Unit B: 31.13
  From Unit A: 23.91
Unit D (Type C3) Inventory:
Total: 34.00
  From Unit D: 34.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 45.00
  From Unit A: 45.00
Unit B (Type C2) Inventory:
Total: 21.00
  From Unit B: 21.00
Unit C (Type C3) Inventory:
Total: 105.00
  From Unit C: 47.08
  From Unit B: 33.93
  From Unit A: 23.99
Unit D (Type C3) Inventory:
Total: 30.00
  From Unit D: 30.00

--- Cycle 14 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 54.00
  From Unit A: 54.00
Unit B (Type C2) Inventory:
Total: 28.00
  From Unit B: 28.00
Unit C (Type C3) Inventory:
Total: 112.00
  From Unit C: 54.08
  From Unit B: 33.93
  From Unit A: 23.99
Unit D (Type C3) Inventory:
Total: 33.00
  From Unit D: 33.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 51.00
  From Unit A: 51.00
Unit B (Type C2) Inventory:
Total: 26.00
  From Unit B: 26.00
Unit C (Type C3) Inventory:
Total: 114.00
  From Unit C: 52.63
  From Unit B: 35.02
  From Unit A: 26.34
Unit D (Type C3) Inventory:
Total: 32.00
  From Unit D: 32.00

--- Cycle 15 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 56.00
  From Unit A: 56.00
Unit B (Type C2) Inventory:
Total: 36.00
  From Unit B: 36.00
Unit C (Type C3) Inventory:
Total: 120.00
  From Unit C: 58.63
  From Unit B: 35.02
  From Unit A: 26.34
Unit D (Type C3) Inventory:
Total: 39.00
  From Unit D: 39.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 55.00
  From Unit A: 55.00
Unit B (Type C2) Inventory:
Total: 35.00
  From Unit B: 35.00
Unit C (Type C3) Inventory:
Total: 120.00
  From Unit C: 57.66
  From Unit B: 35.44
  From Unit A: 26.90
Unit D (Type C3) Inventory:
Total: 35.00
  From Unit D: 35.00

--- Cycle 16 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 65.00
  From Unit A: 65.00
Unit B (Type C2) Inventory:
Total: 36.00
  From Unit B: 36.00
Unit C (Type C3) Inventory:
Total: 125.00
  From Unit C: 62.66
  From Unit B: 35.44
  From Unit A: 26.90
Unit D (Type C3) Inventory:
Total: 45.00
  From Unit D: 45.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 64.00
  From Unit A: 64.00
Unit B (Type C2) Inventory:
Total: 34.00
  From Unit B: 34.00
Unit C (Type C3) Inventory:
Total: 123.00
  From Unit C: 60.15
  From Unit B: 36.02
  From Unit A: 26.83
Unit D (Type C3) Inventory:
Total: 41.00
  From Unit D: 41.00

--- Cycle 17 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 74.00
  From Unit A: 74.00
Unit B (Type C2) Inventory:
Total: 43.00
  From Unit B: 43.00
Unit C (Type C3) Inventory:
Total: 132.00
  From Unit C: 69.15
  From Unit B: 36.02
  From Unit A: 26.83
Unit D (Type C3) Inventory:
Total: 50.00
  From Unit D: 50.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 71.00
  From Unit A: 71.00
Unit B (Type C2) Inventory:
Total: 41.00
  From Unit B: 41.00
Unit C (Type C3) Inventory:
Total: 136.00
  From Unit C: 68.63
  From Unit B: 37.75
  From Unit A: 29.63
Unit D (Type C3) Inventory:
Total: 48.00
  From Unit D: 48.00

--- Cycle 18 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 78.00
  From Unit A: 78.00
Unit B (Type C2) Inventory:
Total: 50.00
  From Unit B: 50.00
Unit C (Type C3) Inventory:
Total: 143.00
  From Unit C: 75.63
  From Unit B: 37.75
  From Unit A: 29.63
Unit D (Type C3) Inventory:
Total: 50.00
  From Unit D: 50.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 73.00
  From Unit A: 73.00
Unit B (Type C2) Inventory:
Total: 47.00
  From Unit B: 47.00
Unit C (Type C3) Inventory:
Total: 146.00
  From Unit C: 72.98
  From Unit B: 39.43
  From Unit A: 33.59
Unit D (Type C3) Inventory:
Total: 48.00
  From Unit D: 48.00

--- Cycle 19 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 75.00
  From Unit A: 75.00
Unit B (Type C2) Inventory:
Total: 55.00
  From Unit B: 55.00
Unit C (Type C3) Inventory:
Total: 152.00
  From Unit C: 78.98
  From Unit B: 39.43
  From Unit A: 33.59
Unit D (Type C3) Inventory:
Total: 50.00
  From Unit D: 50.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 70.00
  From Unit A: 70.00
Unit B (Type C2) Inventory:
Total: 53.00
  From Unit B: 53.00
Unit C (Type C3) Inventory:
Total: 156.00
  From Unit C: 77.42
  From Unit B: 40.65
  From Unit A: 37.93
Unit D (Type C3) Inventory:
Total: 46.00
  From Unit D: 46.00

--- Cycle 20 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 77.00
  From Unit A: 77.00
Unit B (Type C2) Inventory:
Total: 60.00
  From Unit B: 60.00
Unit C (Type C3) Inventory:
Total: 157.00
  From Unit C: 78.42
  From Unit B: 40.65
  From Unit A: 37.93
Unit D (Type C3) Inventory:
Total: 50.00
  From Unit D: 50.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 73.00
  From Unit A: 73.00
Unit B (Type C2) Inventory:
Total: 55.00
  From Unit B: 55.00
Unit C (Type C3) Inventory:
Total: 164.00
  From Unit C: 77.43
  From Unit B: 45.13
  From Unit A: 41.44
Unit D (Type C3) Inventory:
Total: 46.00
  From Unit D: 46.00

--- Cycle 21 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 82.00
  From Unit A: 82.00
Unit B (Type C2) Inventory:
Total: 59.00
  From Unit B: 59.00
Unit C (Type C3) Inventory:
Total: 171.00
  From Unit C: 84.43
  From Unit B: 45.13
  From Unit A: 41.44
Unit D (Type C3) Inventory:
Total: 47.00
  From Unit D: 47.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 78.00
  From Unit A: 78.00
Unit B (Type C2) Inventory:
Total: 54.00
  From Unit B: 54.00
Unit C (Type C3) Inventory:
Total: 176.00
  From Unit C: 82.45
  From Unit B: 49.08
  From Unit A: 44.47
Unit D (Type C3) Inventory:
Total: 44.00
  From Unit D: 44.00

--- Cycle 22 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 80.00
  From Unit A: 80.00
Unit B (Type C2) Inventory:
Total: 62.00
  From Unit B: 62.00
Unit C (Type C3) Inventory:
Total: 180.00
  From Unit C: 86.45
  From Unit B: 49.08
  From Unit A: 44.47
Unit D (Type C3) Inventory:
Total: 47.00
  From Unit D: 47.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 78.00
  From Unit A: 78.00
Unit B (Type C2) Inventory:
Total: 60.00
  From Unit B: 60.00
Unit C (Type C3) Inventory:
Total: 182.00
  From Unit C: 85.49
  From Unit B: 50.53
  From Unit A: 45.98
Unit D (Type C3) Inventory:
Total: 42.00
  From Unit D: 42.00

--- Cycle 23 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 79.00
  From Unit A: 79.00
Unit B (Type C2) Inventory:
Total: 69.00
  From Unit B: 69.00
Unit C (Type C3) Inventory:
Total: 189.00
  From Unit C: 92.49
  From Unit B: 50.53
  From Unit A: 45.98
Unit D (Type C3) Inventory:
Total: 48.00
  From Unit D: 48.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 76.00
  From Unit A: 76.00
Unit B (Type C2) Inventory:
Total: 66.00
  From Unit B: 66.00
Unit C (Type C3) Inventory:
Total: 190.00
  From Unit C: 90.04
  From Unit B: 52.19
  From Unit A: 47.76
Unit D (Type C3) Inventory:
Total: 47.00
  From Unit D: 47.00

--- Cycle 24 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 79.00
  From Unit A: 79.00
Unit B (Type C2) Inventory:
Total: 72.00
  From Unit B: 72.00
Unit C (Type C3) Inventory:
Total: 196.00
  From Unit C: 96.04
  From Unit B: 52.19
  From Unit A: 47.76
Unit D (Type C3) Inventory:
Total: 51.00
  From Unit D: 51.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 74.00
  From Unit A: 74.00
Unit B (Type C2) Inventory:
Total: 70.00
  From Unit B: 70.00
Unit C (Type C3) Inventory:
Total: 198.00
  From Unit C: 93.59
  From Unit B: 52.86
  From Unit A: 51.54
Unit D (Type C3) Inventory:
Total: 46.00
  From Unit D: 46.00

--- Cycle 25 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 82.00
  From Unit A: 82.00
Unit B (Type C2) Inventory:
Total: 71.00
  From Unit B: 71.00
Unit C (Type C3) Inventory:
Total: 200.00
  From Unit C: 95.59
  From Unit B: 52.86
  From Unit A: 51.54
Unit D (Type C3) Inventory:
Total: 55.00
  From Unit D: 55.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 80.00
  From Unit A: 80.00
Unit B (Type C2) Inventory:
Total: 68.00
  From Unit B: 68.00
Unit C (Type C3) Inventory:
Total: 201.00
  From Unit C: 93.68
  From Unit B: 54.80
  From Unit A: 52.51
Unit D (Type C3) Inventory:
Total: 52.00
  From Unit D: 52.00

--- Cycle 26 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 83.00
  From Unit A: 83.00
Unit B (Type C2) Inventory:
Total: 72.00
  From Unit B: 72.00
Unit C (Type C3) Inventory:
Total: 203.00
  From Unit C: 95.68
  From Unit B: 54.80
  From Unit A: 52.51
Unit D (Type C3) Inventory:
Total: 53.00
  From Unit D: 53.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 82.00
  From Unit A: 82.00
Unit B (Type C2) Inventory:
Total: 67.00
  From Unit B: 67.00
Unit C (Type C3) Inventory:
Total: 207.00
  From Unit C: 94.74
  From Unit B: 59.26
  From Unit A: 53.00
Unit D (Type C3) Inventory:
Total: 50.00
  From Unit D: 50.00

--- Cycle 27 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 86.00
  From Unit A: 86.00
Unit B (Type C2) Inventory:
Total: 74.00
  From Unit B: 74.00
Unit C (Type C3) Inventory:
Total: 209.00
  From Unit C: 96.74
  From Unit B: 59.26
  From Unit A: 53.00
Unit D (Type C3) Inventory:
Total: 53.00
  From Unit D: 53.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 82.00
  From Unit A: 82.00
Unit B (Type C2) Inventory:
Total: 71.00
  From Unit B: 71.00
Unit C (Type C3) Inventory:
Total: 214.00
  From Unit C: 95.81
  From Unit B: 61.70
  From Unit A: 56.49
Unit D (Type C3) Inventory:
Total: 51.00
  From Unit D: 51.00

--- Cycle 28 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 92.00
  From Unit A: 92.00
Unit B (Type C2) Inventory:
Total: 79.00
  From Unit B: 79.00
Unit C (Type C3) Inventory:
Total: 215.00
  From Unit C: 96.81
  From Unit B: 61.70
  From Unit A: 56.49
Unit D (Type C3) Inventory:
Total: 53.00
  From Unit D: 53.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 91.00
  From Unit A: 91.00
Unit B (Type C2) Inventory:
Total: 74.00
  From Unit B: 74.00
Unit C (Type C3) Inventory:
Total: 216.00
  From Unit C: 94.56
  From Unit B: 65.26
  From Unit A: 56.18
Unit D (Type C3) Inventory:
Total: 48.00
  From Unit D: 48.00

--- Cycle 29 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 99.00
  From Unit A: 99.00
Unit B (Type C2) Inventory:
Total: 83.00
  From Unit B: 83.00
Unit C (Type C3) Inventory:
Total: 219.00
  From Unit C: 97.56
  From Unit B: 65.26
  From Unit A: 56.18
Unit D (Type C3) Inventory:
Total: 58.00
  From Unit D: 58.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 96.00
  From Unit A: 96.00
Unit B (Type C2) Inventory:
Total: 82.00
  From Unit B: 82.00
Unit C (Type C3) Inventory:
Total: 221.00
  From Unit C: 96.67
  From Unit B: 65.67
  From Unit A: 58.66
Unit D (Type C3) Inventory:
Total: 53.00
  From Unit D: 53.00

--- Cycle 30 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 101.00
  From Unit A: 101.00
Unit B (Type C2) Inventory:
Total: 90.00
  From Unit B: 90.00
Unit C (Type C3) Inventory:
Total: 229.00
  From Unit C: 104.67
  From Unit B: 65.67
  From Unit A: 58.66
Unit D (Type C3) Inventory:
Total: 55.00
  From Unit D: 55.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 99.00
  From Unit A: 99.00
Unit B (Type C2) Inventory:
Total: 86.00
  From Unit B: 86.00
Unit C (Type C3) Inventory:
Total: 233.00
  From Unit C: 103.76
  From Unit B: 69.09
  From Unit A: 60.15
Unit D (Type C3) Inventory:
Total: 54.00
  From Unit D: 54.00

--- Cycle 31 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 105.00
  From Unit A: 105.00
Unit B (Type C2) Inventory:
Total: 88.00
  From Unit B: 88.00
Unit C (Type C3) Inventory:
Total: 243.00
  From Unit C: 113.76
  From Unit B: 69.09
  From Unit A: 60.15
Unit D (Type C3) Inventory:
Total: 59.00
  From Unit D: 59.00

After Transportation:
Unit A (Type C1) Inventory:
Total: 102.00
  From Unit A: 102.00
Unit B (Type C2) Inventory:
Total: 83.00
  From Unit B: 83.00
Unit C (Type C3) Inventory:
Total: 248.00
  From Unit C: 112.35
  From Unit B: 73.24
  From Unit A: 62.41
Unit D (Type C3) Inventory:
Total: 58.00
  From Unit D: 58.00

--- Cycle 32 ---
After Manufacturing:
Unit A (Type C1) Inventory:
Total: 104.00
  From Unit A: 104.00
Unit B (Type C2) Inventory:
Total: 84.00
  From Unit B: 84.00

In [26]:
numerical_x_values = []
for cycle in x_values:
    values = [value for value in cycle.values()]  # Extract only the numerical values
    numerical_x_values.append(values)

# Print the results
print("\nNumerical X Values (After Manufacturing):")
print(numerical_x_values)
print(y_values)

Numerical X Values (After Manufacturing):
[[3, 4, 1, 10], [9.0, 5.0, 7.0, 13.0], [7.0, 5.0, 17.0, 12.0], [9.0, 12.0, 25.0, 16.0], [14.0, 8.0, 39.0, 16.0], [20.0, 10.0, 46.0, 18.0], [22.0, 12.0, 49.0, 26.0], [28.0, 17.0, 56.0, 28.0], [37.0, 20.0, 63.0, 29.0], [43.0, 20.0, 74.0, 29.0], [46.0, 20.0, 80.0, 35.0], [44.0, 24.0, 90.0, 34.0], [46.0, 25.0, 104.0, 34.0], [54.0, 28.0, 112.0, 33.0], [56.0, 36.0, 120.0, 39.0], [65.0, 36.0, 125.0, 45.0], [74.0, 43.0, 132.0, 50.0], [78.0, 50.0, 143.0, 50.0], [75.0, 55.0, 152.0, 50.0], [77.0, 60.0, 157.0, 50.0], [82.0, 59.0, 171.0, 47.0], [80.0, 62.0, 180.0, 47.0], [79.0, 69.0, 189.0, 48.0], [79.0, 72.0, 196.0, 51.0], [82.0, 71.0, 200.0, 55.0], [83.0, 72.0, 203.0, 53.0], [86.0, 74.0, 209.0, 53.0], [92.0, 79.0, 215.0, 53.0], [99.0, 83.0, 219.0, 58.0], [101.0, 90.0, 229.0, 55.0], [105.0, 88.0, 242.99999999999997, 59.0], [104.0, 84.0, 250.99999999999997, 67.0], [109.0, 84.0, 256.0, 66.0], [110.0, 90.0, 267.0, 66.0], [108.0, 89.0, 275.0, 67.0], [111.0, 90.0, 278.99999999999994, 74.0], [114.0, 97.0, 278.99999999999994, 74.0], [111.0, 97.0, 285.99999999999994, 81.0], [114.0, 104.0, 295.99999999999994, 86.0], [119.0, 101.0, 309.99999999999994, 86.0], [119.0, 104.0, 313.99999999999994, 91.0], [116.0, 105.0, 320.99999999999994, 98.0], [121.0, 102.0, 330.9999999999999, 105.0], [121.0, 103.0, 337.9999999999999, 102.0], [123.0, 103.0, 349.9999999999999, 101.0], [121.0, 108.0, 355.9999999999999, 99.0], [124.0, 110.0, 369.9999999999999, 100.0], [124.0, 114.0, 371.9999999999999, 101.0], [124.0, 115.0, 378.9999999999999, 104.0], [128.0, 120.0, 391.9999999999999, 104.0], [133.0, 121.0, 397.9999999999999, 103.0], [137.0, 130.0, 402.9999999999999, 102.0], [145.0, 136.0, 409.9999999999999, 105.0], [150.0, 139.0, 417.9999999999999, 109.0], [154.0, 147.0, 420.9999999999999, 112.0], [159.0, 151.0, 433.9999999999999, 112.0], [163.0, 152.0, 446.9999999999999, 116.0], [166.0, 153.0, 452.9999999999999, 121.0], [168.0, 154.0, 456.9999999999999, 118.0], [171.0, 158.0, 465.9999999999999, 116.0], [177.0, 166.0, 468.9999999999999, 115.0], [181.0, 167.0, 484.9999999999999, 114.0], [189.0, 171.0, 486.9999999999999, 113.0], [197.0, 171.0, 486.9999999999999, 114.0], [202.0, 170.0, 495.9999999999999, 118.0], [209.0, 172.0, 502.9999999999999, 123.0], [217.0, 179.0, 514.9999999999999, 127.0], [219.0, 181.0, 522.9999999999999, 128.0], [226.0, 184.0, 530.9999999999999, 128.0], [227.0, 186.0, 533.9999999999999, 127.0], [230.0, 186.0, 541.9999999999999, 130.0], [228.0, 183.0, 556.9999999999999, 134.0]]
[[1.0, 2.0, 5.0, 7.0], [5.0, 1.0, 12.0, 11.0], [3.0, 2.0, 22.0, 7.0], [7.0, 7.0, 29.0, 15.0], [10.0, 5.0, 41.0, 11.0], [18.0, 9.0, 47.0, 16.0], [19.0, 7.0, 55.0, 22.0], [27.0, 14.0, 58.0, 26.0], [36.0, 15.0, 65.0, 26.0], [41.0, 15.0, 77.0, 28.0], [43.0, 18.0, 81.0, 33.0], [39.0, 20.0, 95.0, 29.0], [45.0, 21.0, 105.0, 30.0], [51.0, 26.0, 114.0, 32.0], [55.0, 35.0, 120.0, 35.0], [64.0, 34.0, 123.0, 41.0], [71.0, 41.0, 136.0, 48.0], [73.0, 47.0, 146.0, 48.0], [70.0, 53.0, 156.0, 46.0], [73.0, 55.0, 164.0, 46.0], [78.0, 54.0, 176.0, 44.0], [78.0, 60.0, 182.0, 42.0], [76.0, 66.0, 190.0, 47.0], [74.0, 70.0, 198.0, 46.0], [80.0, 68.0, 201.0, 52.0], [82.0, 67.0, 207.0, 50.0], [82.0, 71.0, 214.0, 51.0], [91.0, 74.0, 216.0, 48.0], [96.0, 82.0, 221.0, 53.0], [99.0, 86.0, 232.99999999999997, 54.0], [102.0, 83.0, 247.99999999999997, 58.0], [103.0, 82.0, 250.0, 64.0], [107.0, 80.0, 260.0, 61.0], [105.0, 88.0, 273.0, 63.0], [105.0, 88.0, 274.99999999999994, 65.0], [109.0, 89.0, 276.99999999999994, 71.0], [110.0, 92.0, 283.99999999999994, 71.0], [106.0, 94.0, 291.99999999999994, 79.0], [113.0, 99.0, 300.99999999999994, 83.0], [118.0, 100.0, 306.99999999999994, 81.0], [115.0, 101.0, 316.99999999999994, 90.0], [114.0, 101.0, 323.9999999999999, 97.0], [116.0, 99.0, 333.9999999999999, 100.0], [118.0, 101.0, 339.9999999999999, 98.0], [118.0, 102.0, 354.9999999999999, 98.0], [116.0, 107.0, 359.9999999999999, 95.0], [123.0, 106.0, 370.9999999999999, 96.0], [123.0, 111.0, 370.9999999999999, 100.0], [120.0, 111.0, 384.9999999999999, 101.0], [127.0, 115.0, 392.9999999999999, 102.0], [130.0, 120.0, 400.9999999999999, 99.0], [135.0, 127.0, 403.9999999999999, 100.0], [141.0, 134.0, 413.9999999999999, 104.0], [149.0, 138.0, 417.9999999999999, 106.0], [150.0, 143.0, 425.9999999999999, 109.0], [154.0, 148.0, 438.9999999999999, 109.0], [160.0, 151.0, 445.9999999999999, 112.0], [164.0, 151.0, 454.9999999999999, 117.0], [164.0, 152.0, 461.9999999999999, 115.0], [168.0, 157.0, 465.9999999999999, 111.0], [172.0, 161.0, 474.9999999999999, 113.0], [180.0, 165.0, 485.9999999999999, 111.0], [188.0, 170.0, 484.9999999999999, 112.0], [192.0, 168.0, 492.9999999999999, 113.0], [200.0, 167.0, 496.9999999999999, 116.0], [207.0, 169.0, 505.9999999999999, 118.0], [213.0, 175.0, 521.9999999999999, 124.0], [217.0, 178.0, 525.9999999999999, 127.0], [223.0, 182.0, 532.9999999999999, 125.0], [224.0, 181.0, 540.9999999999999, 124.0], [226.0, 181.0, 548.9999999999999, 128.0], [226.0, 181.0, 558.9999999999999, 131.0]]

In [27]:
import csv

# Save X values to CSV
with open('x_values.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Cycle", "UnitA", "UnitB", "UnitC", "UnitD"])  # Column headers
    for i, values in enumerate(numerical_x_values):
        writer.writerow([i+1] + values)  # Writing cycle number and values

# Save Y values to CSV
with open('y_values.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Cycle", "UnitA", "UnitB", "UnitC", "UnitD"])  # Column headers
    for i, values in enumerate(y_values):
        writer.writerow([i+1] + values)  # Writing cycle number and values

The provided code snippet demonstrates how to read Excel files and merge data using the Pandas library in Python. Initially, it imports the necessary libraries, `numpy` and `pandas`. It then reads two Excel files into DataFrame objects: `data1`, which contains data on production processes, and `data2`, which includes information about unit types. After loading the data, the `display()` function is called for each DataFrame to show their contents in a readable format.

Subsequently, the code merges the two DataFrames using the `merge()` function. The merging operation is performed by matching the "Cycle" column from `data1` with the "index" column from `data2`, with a left join specified by the `how="left"` parameter. This means that all entries from `data1` will be retained, while matching entries from `data2` will be included where available. The result of this merging process is stored in the `merged_data` variable, which combines relevant information from both DataFrames for further analysis or processing.

In [2]:
import numpy as np
import pandas as pd
data1=pd.read_excel("/home/gathu/Documents/work/china/engineering simulation/production process.xlsx")
display(data1)
data2=pd.read_excel("/home/gathu/Documents/work/china/engineering simulation/unit types.xlsx")
display(data2)
merged_data=data1.merge(data2,right_on="index",left_on="Cycle",how="left")
merged_data

    Cycle  Parameter t
0       1          0.0
1       2          0.2
2       3          0.3
3       4          0.5
4       5          0.8
..    ...          ...
67     68          1.1
68     69          0.6
69     70          0.3
70     71          0.4
71     72          0.0

[72 rows x 2 columns]

      index category
0         1       C1
1         2       C1
2         3       C1
3         4       C1
4         5       C1
...     ...      ...
1501   1502       C1
1502   1503       C1
1503   1504       C1
1504   1505       C1
1505   1506       C1

[1506 rows x 2 columns]

    Cycle  Parameter t  index category
0       1          0.0      1       C1
1       2          0.2      2       C1
2       3          0.3      3       C1
3       4          0.5      4       C1
4       5          0.8      5       C1
..    ...          ...    ...      ...
67     68          1.1     68       C2
68     69          0.6     69       C2
69     70          0.3     70       C2
70     71          0.4     71       C2
71     72          0.0     72       C2

[72 rows x 4 columns]

In [12]:
 columns = merged_data.columns.to_list()
 columns[2]

'index'

The provided program demonstrates a curve-fitting process using NumPy and SciPy to model data with a mathematical function. Initially, it imports the necessary libraries and defines a model function that computes predictions for two dependent variables, \(X\) and \(Y\), based on a set of parameters and an independent variable \(t\). The code then prepares the data by extracting time values and the corresponding \(X\) and \(Y\) values, ensuring they are in the correct shape for fitting. It flattens the data, combining \(X\) and \(Y\) into a single dataset for analysis. An initial guess for the fitting parameters is specified, and the `curve_fit` function is employed to estimate the optimal parameter values that best match the data. Finally, the fitted parameters are printed, providing insights into the relationships represented by the model. This approach allows for effectively analyzing and interpreting the underlying patterns in the dataset.

In [13]:
import numpy as np
from scipy.optimize import curve_fit

# Define the model function
def model(t, a, b, c, d, e, f):
    # Calculate predictions for X and Y
    X_pred = a**t + b**t + c**t  # Adjusted to sum the contributions
    Y_pred = d**t + e**t + f**t  # Adjusted to sum the contributions
    return np.concatenate((X_pred, Y_pred))

# Prepare the data
t_data = np.array(merged_data['Parameter t'])  # Example t values
X_data = np.array(numerical_x_values)  # Example X values
Y_data = np.array(y_values)  # Example Y values

# Flatten the data for fitting
t_flat = np.repeat(t_data, X_data.shape[1])
X_flat = X_data.flatten()
Y_flat = Y_data.flatten()

# Combine X and Y data for fitting
data_to_fit = np.concatenate((X_flat, Y_flat))

# Initial guess for parameters
initial_guess = [1, 1, 1, 1, 1, 1]

# Perform curve fitting
params, covariance = curve_fit(model, t_flat, data_to_fit, p0=initial_guess)

# Print fitted parameters
a, b, c, d, e, f = params
print(f"Fitted parameters: a={a}, b={b}, c={c}, d={d}, e={e}, f={f}")

Fitted parameters: a=1.400083097962754, b=1.400083097962754, c=1.4001001100888033, d=1.3992672531244965, e=1.3992564917456076, f=1.3992449956466335

/tmp/ipykernel_4896/2042756251.py:7: RuntimeWarning: invalid value encountered in power
  X_pred = a**t + b**t + c**t  # Adjusted to sum the contributions
/tmp/ipykernel_4896/2042756251.py:8: RuntimeWarning: invalid value encountered in power
  Y_pred = d**t + e**t + f**t  # Adjusted to sum the contributions

The fitted parameters obtained from the curve-fitting process offer significant insights into the dynamics of the production and transportation processes within the simulation. The values for \( a \), \( b \), and \( c \), which represent the contributions to the \( X \) values (production units), are closely aligned, indicating a relatively uniform growth pattern across different sources or unit types. This uniformity suggests that the production process is stable and exhibits consistent growth characteristics. Similarly, the parameters \( d \), \( e \), and \( f \) corresponding to the \( Y \) values (transported units) also show proximity, implying that transportation efficiency or volume remains consistent over the considered time periods. This could indicate that the transportation processes are well-optimized, maintaining a reliable throughput in relation to production output. The model's use of exponential functions of time \( t \) suggests a stabilizing growth factor close to 1.397, indicating that both production and transportation are stabilizing rather than rapidly accelerating. This insight is crucial for resource allocation and planning, allowing businesses to manage inventories and logistics effectively, thereby reducing costs associated with overproduction or under-transportation. Additionally, the established model facilitates scenario analysis, enabling organizations to simulate various outcomes by adjusting parameters to explore potential growth impacts. Ultimately, these insights enhance the understanding of production and transportation dynamics, supporting proactive decision-making in managing the overall production lifecycle.